body{
    background-color: #343434;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.elements{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header{
    font-size: 30px;
    font-weight: bold;
    color: orange;
}

.input{
    border-radius: 10px;
    font-size: 40px;
    margin: 2% 0%;
    padding: 2% 3%;
    outline: none;
}

.btn{
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
    padding: 2% 5%;
    min-width: 40%;
    margin: 2%;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.players-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
    font-size: 20px;
}
